traffic_light_control_flow.json
[
    {
        "id": "5ad7e7597c8119d1",
        "type": "tab",
        "label": "Traffic Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d8b4a7b46f19204",
        "type": "rpi-gpio in",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "pin": "21",
        "intype": "up",
        "debounce": "250",
        "read": true,
        "bcm": true,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "88b19bf050c33d44"
            ]
        ]
    },
    {
        "id": "88b19bf050c33d44",
        "type": "switch",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "eed1ec355c3cf458"
            ]
        ]
    },
    {
        "id": "aa72183ddd6099cf",
        "type": "inject",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "2a365a9c0b54da7c"
            ]
        ]
    },
    {
        "id": "a8e92d9be60ad571",
        "type": "switch",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lights/green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights/red",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "c0049d8c453579fe",
                "69f6b34c17a8af5c"
            ],
            [
                "0ae7b67bc29ca664",
                "614b00a96132c534",
                "facae24b71306ad5"
            ]
        ]
    },
    {
        "id": "c0049d8c453579fe",
        "type": "rpi-gpio out",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "pin": "2",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ae7b67bc29ca664",
        "type": "rpi-gpio out",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "pin": "3",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "2a365a9c0b54da7c",
        "type": "function",
        "z": "5ad7e7597c8119d1",
        "name": "Calculate the active light",
        "func": "let current_light_index = flow.get(\"current_light_index\");\n\nif(flow.get(\"walk_button_state\") === 1 && current_light_index === 0) {\n    current_light_index = 1;\n    flow.set(\"walk_button_state\", 0);\n}\nelse if(current_light_index === 1) {\n    current_light_index = 0;\n}\n\nflow.set(\"current_light_index\", current_light_index);\n\nmsg.topic = \"lights/\" + flow.get(\"lights\")[current_light_index];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"lights\", [\"green\", \"red\"]);\nflow.set(\"current_light_index\", 0);",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "a8e92d9be60ad571"
            ]
        ]
    },
    {
        "id": "eed1ec355c3cf458",
        "type": "function",
        "z": "5ad7e7597c8119d1",
        "name": "There is a walk button press",
        "func": "flow.set(\"walk_button_state\", 1);\nmsg.payload = {\n    eventType: \"walk-button-pressed\",\n    eventOccurred: new Date()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "69f6b34c17a8af5c",
        "type": "change",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 100,
        "wires": [
            [
                "d640f8802e9acf83"
            ]
        ]
    },
    {
        "id": "614b00a96132c534",
        "type": "change",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "39a1224e642e1869"
            ]
        ]
    },
    {
        "id": "d640f8802e9acf83",
        "type": "rpi-gpio out",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "pin": "3",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "39a1224e642e1869",
        "type": "rpi-gpio out",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "pin": "2",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "5bf209fd8796f68c",
        "type": "change",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "88b19bf050c33d44"
            ]
        ]
    },
    {
        "id": "acc58b1d45c6b05d",
        "type": "Azure Service Bus - Receive Topic Message",
        "z": "5ad7e7597c8119d1",
        "name": "Receive Topic Message",
        "topic": "",
        "subscription": "",
        "connectionString": "",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "0edf4be585e5595a"
            ]
        ]
    },
    {
        "id": "0edf4be585e5595a",
        "type": "switch",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "property": "payload.eventType",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "walk_button_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "red_light_on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 960,
        "wires": [
            [
                "5bf209fd8796f68c",
                "897177a4e0414341"
            ],
            [
                "ae0a304b116733a4"
            ]
        ]
    },
    {
        "id": "1d1d2b0d10e0c343",
        "type": "comment",
        "z": "5ad7e7597c8119d1",
        "name": "Primary Processing Section",
        "info": "This section performs the principal processing and decision making for the traffic lights",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "666b678f0532ea86",
        "type": "comment",
        "z": "5ad7e7597c8119d1",
        "name": "Hardware Button Handling",
        "info": "This section handles the hardware button press",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "311d25d7397b7eeb",
        "type": "comment",
        "z": "5ad7e7597c8119d1",
        "name": "Azure Service Bus Message Handling",
        "info": "Handles messages received from Azure Service Bus for triggering walk button press",
        "x": 210,
        "y": 920,
        "wires": []
    },
    {
        "id": "19f504d72e296672",
        "type": "Azure Service Bus - Send Topic Message",
        "z": "5ad7e7597c8119d1",
        "name": "Send Red Light Status",
        "topic": "",
        "connectionString": "",
        "x": 1020,
        "y": 420,
        "wires": []
    },
    {
        "id": "facae24b71306ad5",
        "type": "change",
        "z": "5ad7e7597c8119d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"eventType\":\"red_light_on\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"contentType\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 420,
        "wires": [
            [
                "19f504d72e296672"
            ]
        ]
    },
    {
        "id": "897177a4e0414341",
        "type": "debug",
        "z": "5ad7e7597c8119d1",
        "name": "Output notification received message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Notification received from service bus'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "ae0a304b116733a4",
        "type": "debug",
        "z": "5ad7e7597c8119d1",
        "name": "Output red light switch on",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Red light is on. Traffic is stopped'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1040,
        "wires": []
    }
]
