traffic_light_control_flow.json
[
    {
        "id": "b358ac4e098d4b49",
        "type": "tab",
        "label": "Traffic Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ac0526fa152f688",
        "type": "rpi-gpio in",
        "z": "b358ac4e098d4b49",
        "name": "",
        "pin": "21",
        "intype": "up",
        "debounce": "250",
        "read": true,
        "bcm": true,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "f6b957613799c663"
            ]
        ]
    },
    {
        "id": "f6b957613799c663",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "7d074548f9a893a2"
            ]
        ]
    },
    {
        "id": "80ccd09f3e6df004",
        "type": "inject",
        "z": "b358ac4e098d4b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "3a9fbe32f6ba24aa"
            ]
        ]
    },
    {
        "id": "da681a2ff3ae3657",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "Check which light",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lights/green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights/red",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 160,
        "wires": [
            [
                "fdaca87a82bf768a",
                "adad1d0b060af7ec"
            ],
            [
                "4a6b94df5455e1c0",
                "b39b764842b1db82",
                "d1f02a17a262e73f"
            ]
        ]
    },
    {
        "id": "fdaca87a82bf768a",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "Green LED",
        "pin": "2",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1510,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a6b94df5455e1c0",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "Red LED",
        "pin": "3",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1500,
        "y": 200,
        "wires": []
    },
    {
        "id": "adad1d0b060af7ec",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Switch off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 60,
        "wires": [
            [
                "ba55ee1dc4011711"
            ]
        ]
    },
    {
        "id": "b39b764842b1db82",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Switch off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 280,
        "wires": [
            [
                "60341ffd428ff259"
            ]
        ]
    },
    {
        "id": "ba55ee1dc4011711",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "Red LED",
        "pin": "3",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1500,
        "y": 60,
        "wires": []
    },
    {
        "id": "60341ffd428ff259",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "Green LED",
        "pin": "2",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1510,
        "y": 280,
        "wires": []
    },
    {
        "id": "6259ac1b7dcf3ec9",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "f6b957613799c663"
            ]
        ]
    },
    {
        "id": "8444a44a67bd97f9",
        "type": "Azure Service Bus - Receive Topic Message",
        "z": "b358ac4e098d4b49",
        "name": "Receive Topic Message",
        "topic": "raspi.local/trafficlightcontrol/v1",
        "subscription": "traffic-light-control-flow",
        "connectionString": "Endpoint=sb://myraspberrypi.servicebus.windows.net/;SharedAccessKeyName=power-automate-listen;SharedAccessKey=3BIzHRTpfGW6k9riCnvcpynDoas8TFPngMVaiFXukto=",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "8f2c23b3516b12ad"
            ]
        ]
    },
    {
        "id": "8f2c23b3516b12ad",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "",
        "property": "payload.eventType",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "walk_button_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "red_light_on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 960,
        "wires": [
            [
                "6259ac1b7dcf3ec9",
                "d2477f8d3a7b876a"
            ],
            [
                "e94c236cfc5f27f1"
            ]
        ]
    },
    {
        "id": "1522a42c4284e9e8",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "Primary Processing Section",
        "info": "This section performs the principal processing and decision making for the traffic lights",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "de388e56edf719cd",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "Hardware Button Handling",
        "info": "This section handles the hardware button press",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "6c35202e989f2278",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "Azure Service Bus Message Handling",
        "info": "Handles messages received from Azure Service Bus for triggering walk button press",
        "x": 210,
        "y": 920,
        "wires": []
    },
    {
        "id": "b55d4daea3fc30fc",
        "type": "Azure Service Bus - Send Topic Message",
        "z": "b358ac4e098d4b49",
        "name": "Send Red Light Status",
        "topic": "raspi.local/trafficlightcontrol/v1",
        "connectionString": "Endpoint=sb://myraspberrypi.servicebus.windows.net/;SharedAccessKeyName=power-automate-listen;SharedAccessKey=3BIzHRTpfGW6k9riCnvcpynDoas8TFPngMVaiFXukto=",
        "x": 1540,
        "y": 360,
        "wires": []
    },
    {
        "id": "d1f02a17a262e73f",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Calculate message to send",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"eventType\":\"red_light_on\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"contentType\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 360,
        "wires": [
            [
                "b55d4daea3fc30fc"
            ]
        ]
    },
    {
        "id": "d2477f8d3a7b876a",
        "type": "debug",
        "z": "b358ac4e098d4b49",
        "name": "Output notification received message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Notification received from service bus'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "e94c236cfc5f27f1",
        "type": "debug",
        "z": "b358ac4e098d4b49",
        "name": "Output red light switch on",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Red light is on. Traffic is stopped'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3a9fbe32f6ba24aa",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "Check the current light state",
        "property": "true",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "$flowContext(\"walk_button_state\") = 1 and $flowContext(\"current_light\") = 0",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "$flowContext(\"current_light\") = 1",
                "vt": "jsonata"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "2402b50cda86feb7"
            ],
            [
                "3e73941154e68c90"
            ],
            [
                "4e586c1f26b006e7"
            ]
        ]
    },
    {
        "id": "2402b50cda86feb7",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Update light state to show \"red\"",
        "rules": [
            {
                "t": "set",
                "p": "current_light",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "walk_button_state",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "3184b88876f76dc7"
            ]
        ]
    },
    {
        "id": "3e73941154e68c90",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Switch back to green",
        "rules": [
            {
                "t": "set",
                "p": "current_light",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 160,
        "wires": [
            [
                "3184b88876f76dc7"
            ]
        ]
    },
    {
        "id": "4e586c1f26b006e7",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Initialise globals",
        "rules": [
            {
                "t": "set",
                "p": "current_light",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "lights",
                "pt": "flow",
                "to": "[\"green\", \"red\"]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "3184b88876f76dc7"
            ]
        ]
    },
    {
        "id": "3184b88876f76dc7",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "Calculate light to show",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"lights/\" & $flowContext(\"lights\")[$flowContext(\"current_light\")]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 160,
        "wires": [
            [
                "da681a2ff3ae3657"
            ]
        ]
    },
    {
        "id": "7d074548f9a893a2",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "walk_button_state",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 640,
        "wires": [
            []
        ]
    }
]
