node-red/ep3/flow.json
[
    {
        "id": "b358ac4e098d4b49",
        "type": "tab",
        "label": "Traffic Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ac0526fa152f688",
        "type": "rpi-gpio in",
        "z": "b358ac4e098d4b49",
        "name": "",
        "pin": "21",
        "intype": "up",
        "debounce": "250",
        "read": true,
        "bcm": true,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "f6b957613799c663"
            ]
        ]
    },
    {
        "id": "f6b957613799c663",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "9c42d10924d705e2"
            ]
        ]
    },
    {
        "id": "80ccd09f3e6df004",
        "type": "inject",
        "z": "b358ac4e098d4b49",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "4bf1770ff7f80501"
            ]
        ]
    },
    {
        "id": "da681a2ff3ae3657",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lights/green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "lights/red",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "fdaca87a82bf768a",
                "adad1d0b060af7ec"
            ],
            [
                "4a6b94df5455e1c0",
                "b39b764842b1db82",
                "d1f02a17a262e73f"
            ]
        ]
    },
    {
        "id": "fdaca87a82bf768a",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "",
        "pin": "2",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a6b94df5455e1c0",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "",
        "pin": "3",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "4bf1770ff7f80501",
        "type": "function",
        "z": "b358ac4e098d4b49",
        "name": "Calculate the active light",
        "func": "let current_light_index = flow.get(\"current_light_index\");\n\nif(flow.get(\"walk_button_state\") === 1 && current_light_index === 0) {\n    current_light_index = 1;\n    flow.set(\"walk_button_state\", 0);\n}\nelse if(current_light_index === 1) {\n    current_light_index = 0;\n}\n\nflow.set(\"current_light_index\", current_light_index);\n\nmsg.topic = \"lights/\" + flow.get(\"lights\")[current_light_index];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"lights\", [\"green\", \"red\"]);\nflow.set(\"current_light_index\", 0);",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "da681a2ff3ae3657"
            ]
        ]
    },
    {
        "id": "9c42d10924d705e2",
        "type": "function",
        "z": "b358ac4e098d4b49",
        "name": "There is a walk button press",
        "func": "flow.set(\"walk_button_state\", 1);\nmsg.payload = {\n    eventType: \"walk-button-pressed\",\n    eventOccurred: new Date()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "adad1d0b060af7ec",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 120,
        "wires": [
            [
                "ba55ee1dc4011711"
            ]
        ]
    },
    {
        "id": "b39b764842b1db82",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "60341ffd428ff259"
            ]
        ]
    },
    {
        "id": "ba55ee1dc4011711",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "",
        "pin": "3",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "60341ffd428ff259",
        "type": "rpi-gpio out",
        "z": "b358ac4e098d4b49",
        "name": "",
        "pin": "2",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "b0ce6c29aa3b7d23",
        "type": "http in",
        "z": "b358ac4e098d4b49",
        "name": "",
        "url": "/walk",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 760,
        "wires": [
            [
                "6259ac1b7dcf3ec9"
            ]
        ]
    },
    {
        "id": "6259ac1b7dcf3ec9",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 860,
        "wires": [
            [
                "f6b957613799c663"
            ]
        ]
    },
    {
        "id": "8444a44a67bd97f9",
        "type": "Azure Service Bus - Receive Topic Message",
        "z": "b358ac4e098d4b49",
        "name": "Receive Topic Message",
        "topic": "raspi.local/trafficlightcontrol/v1",
        "subscription": "traffic-light-control-flow",
        "connectionString": "Endpoint=sb://myraspberrypi.servicebus.windows.net/;SharedAccessKeyName=power-automate-listen;SharedAccessKey=3BIzHRTpfGW6k9riCnvcpynDoas8TFPngMVaiFXukto=",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "8f2c23b3516b12ad"
            ]
        ]
    },
    {
        "id": "8f2c23b3516b12ad",
        "type": "switch",
        "z": "b358ac4e098d4b49",
        "name": "",
        "property": "payload.eventType",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "walk_button_press",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 960,
        "wires": [
            [
                "6259ac1b7dcf3ec9"
            ]
        ]
    },
    {
        "id": "1522a42c4284e9e8",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "Primary Processing Section",
        "info": "This section performs the principal processing and decision making for the traffic lights",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "de388e56edf719cd",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "Hardware Button Handling",
        "info": "This section handles the hardware button press",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "5ea95746a0211b4d",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "HTTP Request Handling",
        "info": "Handles HTTP request for triggering walk button press",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "6c35202e989f2278",
        "type": "comment",
        "z": "b358ac4e098d4b49",
        "name": "Azure Service Bus Message Handling",
        "info": "Handles messages received from Azure Service Bus for triggering walk button press",
        "x": 210,
        "y": 920,
        "wires": []
    },
    {
        "id": "b55d4daea3fc30fc",
        "type": "Azure Service Bus - Send Topic Message",
        "z": "b358ac4e098d4b49",
        "name": "Send Red Light Status",
        "topic": "raspi.local/trafficlightcontrol/v1",
        "subscription": "traffic-light-control-flow",
        "connectionString": "Endpoint=sb://myraspberrypi.servicebus.windows.net/;SharedAccessKeyName=power-automate-listen;SharedAccessKey=3BIzHRTpfGW6k9riCnvcpynDoas8TFPngMVaiFXukto=",
        "x": 1200,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1f02a17a262e73f",
        "type": "change",
        "z": "b358ac4e098d4b49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"eventType\":\"red_light_on\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "{\"contentType\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "b55d4daea3fc30fc"
            ]
        ]
    }
]
